.tableButtonX{
  margin:0;
  width:200px;
  height:200px;
  font-size: 180px;
  color: orange;
}

.sButton{
  width:100px;
  height:100px;
  font-size: 20px;
  color: black;
  background-color: orange;
  }

.container {
  height: 200px;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

